{% extends "base.html.twig" %} 

{% block title %}Jugar{% endblock %}

 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/game.css') }}">
 {% endblock %}

{%block body %}
    {% include "menu.html.twig" %}
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <br><br>
            <a class="ui positive massive button" style="text-align: center;" href="/partida/new">Jugar</a>
            <br><br>
        </div>
    </div>
    
    <div class="ui two column doubling stackable grid container">
        <div class="column">
        
            <div class="ui celled list">
                <h4 class="ui header"> Partidas para jugar: </h4>
            {% for partida in partidas %}
                <div class="item">
                    <i class="large game icon"></i>
                    <div class="content">
                        <div class="header"><a href="partida/updatej/{{ partida.id }}"> Partida #{{ partida.id }} </a></div>
                        {{ partida.getFecha().format('Y-m-d H:i') }}
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
        <div class="column">

            <div class="ui celled list">
                <h4 class="ui header"> Partidas para ver: </h4>
            {% for partida in verPartidas %}
                <div class="item">
                    <i class="large low vision icon"></i>
                    <div class="content">
                        <div class="header"><a href="/game/{{ partida.id }}"> Partida #{{ partida.id }} </a></div>
                        {{ partida.getFecha().format('Y-m-d H:i') }}
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
