<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/flexboxgrid.min.css') }}">
        <link rel="stylesheet" href="{{ asset('semantic/dist/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('semantic/dist/semantic.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
    <script>
    $('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
            ;
        })
    ;
</script>
</html>
